
            body{
                background-color: #b17a04;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
            
            header{
                background-color: rgb(217, 230, 42);
                padding-top: 5px;
            }
            h1{
                text-align: center;
                color: #020202;

            }
            h4{
                text-align: center;
                background-color: rgb(209, 172, 6);
                margin: 0px 80px;
            }
            .listatas{
                list-style-type: none;
                display: flex;
                margin-left: 550px;
                margin-block: 10px;
            }
            li{
                margin-left: 10px;
                margin-right: 10px;
            }
            .gambar{
                margin-left: 350px;
                display: flex;
            }
            img{
                margin-left: 10px;
                width: 300px;
            }
            .B{
                font-size: 35px;
            }
            p{
                text-align: justify;
                width: fit-content;
            }
            .gambarbawah{
                background-color: rgb(158, 131, 72);
                display: flex;
                padding: 20px 40px;
            }
            .listbawah{
                text-align: center;
                list-style-type: none;
            }
            .ecoms{
                font-size: larger;
                font-weight: bold;
            }